.logo {
    width: 132px;
    height: 35px;
    background: #fff url(../images/309.png);
    margin: 16px 24px 16px 0;
    float: left;
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
  }